body { 
  background: url(resources/images/jet-set-radio-future-4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.content-text {
  background-color: rgb(255, 184, 157, .95);
  padding: 1em;
}

.content-link {
  color: rgb(80, 41, 112);
  font-weight: bolder;
  text-decoration: none;
}

.content-link:hover, .content-link:active {
  color: rgb(255, 82, 13);
  text-decoration: underline;
}