@font-face {
  font-family: 'Cageroll';
  src: url("./resources/fonts/cageroll/Cageroll-Standard.otf");
}

@font-face {
  font-family: 'Exo 2';
  src: url("./resources/fonts/Exo_2/Exo2-VariableFont_wght.ttf");
}

/* site colors 
dark purple: rgb(27, 0, 49)
purple: rgb(80, 41, 112)
orange: rgb(255, 82, 13)
blue: aqua
pink: fuchsia
*/

/* tweak the background to work better on smaller screens, make content page shrink to fit content */
body { 
  background: url(resources/images/jet-set-radio-future-4.jpg) repeat-y center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.flex {
  display: flex;
}

a {
  color: rgb(80, 41, 112);
  font-weight: bolder;
  text-decoration: underline;
}

a:hover, a:active {
  color: rgb(255, 82, 13);
}

.content-text {
  font-family: 'Exo 2';
  background-color: rgb(255, 184, 157, .95);
  padding: 2em;
  color: rgb(27, 0, 49);
  max-width: 500em;
  border-radius: 0px 0px 7px 7px;
}

h1 {
  margin: 0em;
  font-weight: bold;
  font-family: 'Cageroll';
}

h2 {
  margin: 0em 0em .5em 0em;
}

li {
  padding-top: .5em;
}

.unstlyled-list {
  list-style: none;
}

.quote {
  max-width: 30em;
  font-style: italic;
  text-align: center;
}

#abmap_ring table {
  background-color: rgb(27, 0, 49) !important;
  color: white;
  border-radius: 7px;
}

#abmap_ring a {
  color: rgb(255, 82, 13);
}