html { 
  background: url(./resources/images/jet-set-radio-future-4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
}

/* still want to apply this to background probably */
.blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}


/* flex styles */
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: right;
}